body{
  /* 背景をグラデーションにする */
background: linear-gradient(45deg, #10100E, #A72F37);
color:#cccccc;
}

#textBox {
  font-family:Impact;
  font-size : 15px;
  margin-top:10px;
  color: #fff;
}

#textBox1 {
  font-family:Impact;
  font-size : 13px;
  font-weight: bold;
  margin-top:30px;
  color: #fff;
}

#pictbox {
  margin-bottom:30px;
  margin-top:30px;
  height: 50em;
  width: 120em;
}

#pictbox1 {
  margin-left: 25px;
  margin-bottom:5px;
}

#toptext {
  margin-top:20px;
  margin-bottom:20px;
}

#header1 {
    position:fixed;
  }

#header {
background-color :rgba(26, 24, 24, 0.8); /* 背景のみ半透明 */
}

.container1{
  width: 100%;
  padding-right: var(--bs-gutter-x, 1rem);
  padding-left: var(--bs-gutter-x, 1rem);
  margin-right: auto;
  margin-left: auto;
}

a {
  color:#ffffff;
  text-decoration: none;
  }
  
  a:link {
  color:#ffffff;
  }
  
  a:visited {
  color:#ffffff;
  }
  
  a:hover {
  color:#aaaaaa;
  }
  
  a:active {
  color:#ff5858;
  }

.search_container{
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.2em;
  width: 280px;
  overflow: hidden;
  background: #3879D9;
}
.search_container input[type="text"]{
  font-family:Impact;
  border: none;
  font-size: 0.7em;
  height: 1.8em;
  background: #3879D9;
}
.search_container input[type="text"]:focus {
  color:#ffffff;
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #fff;
  position: absolute;
  height: 2.5em;
  right: 8px;
  top: -10px;
  outline : none;
}
.search_container ::-webkit-input-placeholder {
  color: rgb(233, 233, 233);
}